HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

## nodejs logs ###
vxpt-web/logs
*.log
vxpt-web/npm-debug.log*
vxpt-web/yarn-debug.log*
vxpt-web/yarn-error.log*
vxpt-web/pnpm-debug.log*
vxpt-web/lerna-debug.log*

vxpt-web/cypress/videos/
vxpt-web/cypress/screenshots/

### vue ###
vxpt-web/node_modules
vxpt-web/.DS_Store
vxpt-web/dist
vxpt-web/dist-ssr
vxpt-web/coverage
*.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
vxpt-web/.vscode/*
!vxpt-web/.vscode/extensions.json
vxpt-web/node_modules/

### lombok ###
**/lombok.config