<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.PeerMapper">

    <resultMap id="peerDOResult" type="PeerDO">
        <id property="id" column="id"/>
        <result property="infoHash" column="info_hash"/>
        <result property="peerId" column="peer_id"/>
        <result property="trackerId" column="tracker_id"/>
        <result property="authKey" column="auth_key"/>
        <result property="userId" column="user_id"/>
        <result property="ip" column="ip"/>
        <result property="ipv6" column="ipv6"/>
        <result property="port" column="port"/>
        <result property="compact" column="compact"/>
        <result property="downloaded" column="downloaded"/>
        <result property="left" column="left"/>
        <result property="uploaded" column="uploaded"/>
        <result property="event" column="event"/>
        <result property="numwant" column="numwant"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <sql id="columnName">
        info_hash
        ,peer_id,tracker_id,auth_key,user_id,ip,ipv6,`port`, `compact`,downloaded,
        `left`,uploaded,`event`,numwant, status, create_time,update_time
    </sql>

    <sql id="setCloumn">
        <set>
            <if test="infoHash != null">info_hash=#{infoHash},</if>
            <if test="peerId != null">peer_id=#{peerId},</if>
            <if test="trackerId != null">tracker_id=#{trackerId},</if>
            <if test="authKey != null">auth_key=#{authKey},</if>
            <if test="userId != null">user_id=#{userId},</if>
            <if test="ip != null">ip=#{ip},</if>
            <if test="ipv6 != null">ipv6=#{ipv6},</if>
            <if test="port != null">`port`=#{port},</if>
            <if test="compact != null">`compact`=#{compact},</if>
            <if test="downloaded != null">`downloaded`=#{downloaded},</if>
            <if test="downloaded != null">`downloaded`=#{downloaded},</if>
            <if test="left != null">`left`=#{left},</if>
            <if test="uploaded != null">`uploaded`=#{uploaded}</if>
            <if test="event != null">`event`=#{event},</if>
            <if test="numwant != null">`numwant`=#{numwant}</if>
            <if test="status != null">`status`=#{status},</if>
        </set>
    </sql>

    <insert id="save"  useGeneratedKeys="true" keyProperty="id" parameterType="PeerDO">
        insert into vxpt_tracker.peer(
        <include refid="columnName"></include>
        ) value (
        #{infoHash},#{peerId},#{trackerId},#{authKey},#{userId},#{ip},#{ipv6},#{ port},
        #{compact},#{downloaded},#{left},#{uploaded},#{event},#{numwant},#{status},#{createTime},#{updateTime}
        )
    </insert>

    <update id="update"  parameterType="PeerDO">
        update vxpt_tracker.peer
        <include refid="setCloumn"></include>
        update_time = now()
        where id = #{id}
    </update>

    <select id="selectById" resultMap="peerDOResult">
        select id,
        <include refid="columnName"></include>
        from vxpt_tracker.peer
        where id = #{id}
    </select>

    <select id="selectPeers" resultMap="peerDOResult">
        select id,
        <include refid="columnName"></include>
        from vxpt_tracker.peer
        where info_hash =#{infoHash}
    </select>

    <select id="selectByAuthKeyAndInfoHash" resultMap="peerDOResult">
        select id,
        <include refid="columnName"></include>
        from vxpt_tracker.peer
        where info_hash =#{infoHash} and auth_key = #{authKey}
    </select>


</mapper>